<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>{% block title %}{{site_name}}{% endblock %}</title>
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="Author" content="{{meta_info.author}}" />
	<meta name="description" content="{% block description %}{{meta_info.description}}{% endblock %}" />
	<meta name="keywords" content="{% block keywords %}{{meta_info.keywords}}{% endblock %}" />
	<meta name="robots" content="index,nofollow" />
	
	<!--<link rel="stylesheet" type="text/css" href="/media/reset-fonts-grids.css"/>-->
	<link rel="stylesheet" type="text/css" href="/media/main.css"/>
	
    {% if feeds %}
        {% for feed in feeds %}
        <link rel="alternate" type="application/rss+xml" title="{{feed.title}}" href="{{feed.link}}"/>{% endfor %}
    {% endif %}	

	{% block extralinktags %}
	{% endblock %}
	
	<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>

	{% block extrahead %}
	{% endblock %}
	
</head>
<body {%block extrabody %}{% endblock %}>
    <div id="container">
    {%comment%}
    <!--<div id="navlinks">	
        <a href="{% url coltrane_category_list %}" title="Categories">
            Categories
        </a>
        <a href="{% url coltrane_commit_list 1 %}" title="Code commits">
            Code commits
        </a>
        <a href="{% url coltrane_comment_list 1 %}" title="Comments">
            Comments
        </a>
        <a href="/feeds/list/" title="Feeds">
            Feeds
        </a>
        <a href="{% url coltrane_link_list 1 %}" title="Links">
            Links
        </a>
        <a href="{% url coltrane_photo_list 1 %}" title="Photos">
            Photos	
        </a>
        <a href="{% url coltrane_post_archive_index 1 %}" title="Posts">
            Posts
        </a>
        <a href="{% url coltrane_shout_list 1 %}" title="Shouts">
            Shouts
        </a>
        <a href="{% url coltrane_tag_list %}" title="Tags">
            Tags
        </a>
        <a href="{% url coltrane_ticker_list 1 %}" title="Ticker">
            Ticker
        </a>
        <a href="{% url coltrane_track_list 1 %}" title="Tracks">
            Tracks
        </a>
    </div>-->
    {%endcomment%}
    <a style="color: black" href="/">
        <div id="header">
            <h1>Schwanksta</h1><div id="dotcom">Dot<br/>Com</div>
        </div>	
    </a>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div> 
    
    <div id="footer">
        <h4>
            © 2009 {{my_full_name}} . 
            <a href="http://www.timeanddate.com/worldclock/city.html?n=137">los angeles time</a> . 
            <a rel="cc:attributionURL" href="http://www.flickr.com/photos/adangarcia/">image via adangarcia on Flickr</a> .
            <a href="http://creativecommons.org/licenses/by/2.0/" rel="license">cc 2.0</a> .  <br/>
            <a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img  style="margin-bottom: -12px; margin-left:5px; margin-right: -5px;" src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
            <a href="http://github.com/palewire/palewire.com/tree/master">fork</a> of <a href="http://palewire.com">palewire.com</a>

        </h4>
    </div>

    </div>
</div>


</body>
</html>
